<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BroadcomCrystalHD</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.broadcom.crystalhd.driver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.5.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>BCM70012</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.broadcom.crystalhd.driver</string>
			<key>IOClass</key>
			<string>BroadcomCrystalHD</string>
			<key>IOMatchCategory</key>
			<string>BroadcomCrystalHD</string>
			<key>IOPCIMatch</key>
			<string>0x161214e4</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>BCM70015</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.broadcom.crystalhd.driver</string>
			<key>IOClass</key>
			<string>BroadcomCrystalHD</string>
			<key>IOMatchCategory</key>
			<string>BroadcomCrystalHD</string>
			<key>IOPCIMatch</key>
			<string>0x161514e4</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
